## Preprocessing

In [2]:
!pip install tensorflow

Collecting tensorflow
  Downloading tensorflow-2.6.0-cp38-cp38-macosx_10_11_x86_64.whl (199.0 MB)
     |████████████████████████████████| 199.0 MB 27 kB/s s eta 0:00:01    |███▏                            | 19.4 MB 16.4 MB/s eta 0:00:11     |███▊                            | 23.0 MB 16.4 MB/s eta 0:00:11     |██████                          | 37.9 MB 16.4 MB/s eta 0:00:10█████████████▎             | 113.5 MB 8.5 MB/s eta 0:00:11     |██████████████████▉             | 116.8 MB 8.5 MB/s eta 0:00:10��█▋            | 121.8 MB 51.0 MB/s eta 0:00:02     |████████████████████████▌       | 152.4 MB 11.9 MB/s eta 0:00:04     |████████████████████████▋       | 153.4 MB 11.9 MB/s eta 0:00:04     |██████████████████████████▍     | 164.1 MB 11.9 MB/s eta 0:00:03
Collecting tensorflow-estimator~=2.6
  Downloading tensorflow_estimator-2.6.0-py2.py3-none-any.whl (462 kB)
     |████████████████████████████████| 462 kB 27.1 MB/s eta 0:00:01
Collecting numpy~=1.19.2
  Downloading numpy-1.19.5-cp38-cp38-macosx_10_9_x86_64.whl (15.6 MB)
     |████████████████████████████████| 15.6 MB 18.6 MB/s eta 0:00:01B/s eta 0:00:01�█▌         | 11.0 MB 18.6 MB/s eta 0:00:01��████████████▊| 15.5 MB 18.6 MB/s eta 0:00:01
Collecting wrapt~=1.12.1
  Downloading wrapt-1.12.1.tar.gz (27 kB)
Collecting keras-preprocessing~=1.1.2
  Downloading Keras_Preprocessing-1.1.2-py2.py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 2.1 MB/s  eta 0:00:01
Collecting tensorboard~=2.6
  Downloading tensorboard-2.6.0-py3-none-any.whl (5.6 MB)
     |████████████████████████████████| 5.6 MB 1.1 MB/s eta 0:00:01
Collecting grpcio<2.0,>=1.37.0
  Downloading grpcio-1.40.0-cp38-cp38-macosx_10_10_x86_64.whl (4.0 MB)
     |████████████████████████████████| 4.0 MB 9.4 MB/s eta 0:00:01
Requirement already satisfied: typing-extensions~=3.7.4 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from tensorflow) (3.7.4.3)
Collecting opt-einsum~=3.3.0
  Downloading opt_einsum-3.3.0-py3-none-any.whl (65 kB)
     |████████████████████████████████| 65 kB 11.6 MB/s eta 0:00:01
Collecting astunparse~=1.6.3
  Downloading astunparse-1.6.3-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: six~=1.15.0 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from tensorflow) (1.15.0)
Collecting protobuf>=3.9.2
  Downloading protobuf-3.18.0-cp38-cp38-macosx_10_9_x86_64.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 23.1 MB/s eta 0:00:01
Collecting termcolor~=1.1.0
  Downloading termcolor-1.1.0.tar.gz (3.9 kB)
Collecting clang~=5.0
  Downloading clang-5.0.tar.gz (30 kB)
Collecting absl-py~=0.10
  Downloading absl_py-0.14.0-py3-none-any.whl (131 kB)
     |████████████████████████████████| 131 kB 42.5 MB/s eta 0:00:01
Collecting flatbuffers~=1.12.0
  Downloading flatbuffers-1.12-py2.py3-none-any.whl (15 kB)
Collecting keras~=2.6
  Downloading keras-2.6.0-py2.py3-none-any.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 46.3 MB/s eta 0:00:01
Collecting google-pasta~=0.2
  Downloading google_pasta-0.2.0-py3-none-any.whl (57 kB)
     |████████████████████████████████| 57 kB 9.3 MB/s  eta 0:00:01
Collecting gast==0.4.0
  Downloading gast-0.4.0-py3-none-any.whl (9.8 kB)
Requirement already satisfied: wheel~=0.35 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from tensorflow) (0.35.1)
Collecting h5py~=3.1.0
  Downloading h5py-3.1.0-cp38-cp38-macosx_10_9_x86_64.whl (2.9 MB)
     |████████████████████████████████| 2.9 MB 26.9 MB/s eta 0:00:01
Collecting google-auth<2,>=1.6.3
  Downloading google_auth-1.35.0-py2.py3-none-any.whl (152 kB)
     |████████████████████████████████| 152 kB 26.1 MB/s eta 0:00:01
Collecting google-auth-oauthlib<0.5,>=0.4.1
  Downloading google_auth_oauthlib-0.4.6-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: markdown>=2.6.8 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from tensorboard~=2.6->tensorflow) (3.3.4)
Requirement already satisfied: werkzeug>=0.11.15 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from tensorboard~=2.6->tensorflow) (1.0.1)
Requirement already satisfied: requests<3,>=2.21.0 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from tensorboard~=2.6->tensorflow) (2.24.0)
Collecting tensorboard-plugin-wit>=1.6.0
  Downloading tensorboard_plugin_wit-1.8.0-py3-none-any.whl (781 kB)
     |████████████████████████████████| 781 kB 25.5 MB/s eta 0:00:01
Requirement already satisfied: setuptools>=41.0.0 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from tensorboard~=2.6->tensorflow) (50.3.1.post20201107)
Collecting tensorboard-data-server<0.7.0,>=0.6.0
  Downloading tensorboard_data_server-0.6.1-py3-none-macosx_10_9_x86_64.whl (3.5 MB)
     |████████████████████████████████| 3.5 MB 10.8 MB/s eta 0:00:01
Collecting pyasn1-modules>=0.2.1
  Downloading pyasn1_modules-0.2.8-py2.py3-none-any.whl (155 kB)
     |████████████████████████████████| 155 kB 20.5 MB/s eta 0:00:01
Collecting rsa<5,>=3.1.4; python_version >= "3.6"
  Downloading rsa-4.7.2-py3-none-any.whl (34 kB)
Collecting cachetools<5.0,>=2.0.0
  Downloading cachetools-4.2.2-py3-none-any.whl (11 kB)
Collecting requests-oauthlib>=0.7.0
  Downloading requests_oauthlib-1.3.0-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /Users/opheliaheard/opt/anaconda3/lib/python3.8/site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (2.10)
Collecting pyasn1<0.5.0,>=0.4.6
  Downloading pyasn1-0.4.8-py2.py3-none-any.whl (77 kB)
     |████████████████████████████████| 77 kB 3.9 MB/s  eta 0:00:01
Collecting oauthlib>=3.0.0
  Downloading oauthlib-3.1.1-py2.py3-none-any.whl (146 kB)
     |████████████████████████████████| 146 kB 26.5 MB/s eta 0:00:01
Building wheels for collected packages: wrapt, termcolor, clang
  Building wheel for wrapt (setup.py) ... done
  Created wheel for wrapt: filename=wrapt-1.12.1-cp38-cp38-macosx_10_9_x86_64.whl size=32733 sha256=6e4738eec8a607e627558255b950c7f1747142685ef852cc6d6b53a1a461ae5e
  Stored in directory: /Users/opheliaheard/Library/Caches/pip/wheels/5f/fd/9e/b6cf5890494cb8ef0b5eaff72e5d55a70fb56316007d6dfe73
  Building wheel for termcolor (setup.py) ... done
  Created wheel for termcolor: filename=termcolor-1.1.0-py3-none-any.whl size=4830 sha256=30e70f6b182ef3dd8f2a29b077519f3e01b83cd733dd9528c589d08c07c5e636
  Stored in directory: /Users/opheliaheard/Library/Caches/pip/wheels/a0/16/9c/5473df82468f958445479c59e784896fa24f4a5fc024b0f501
  Building wheel for clang (setup.py) ... done
  Created wheel for clang: filename=clang-5.0-py3-none-any.whl size=30705 sha256=57e15749d3bdef51038d5394d3966abb72355b3950f9056d85a43eb2813c532c
  Stored in directory: /Users/opheliaheard/Library/Caches/pip/wheels/f1/60/77/22b9b5887bd47801796a856f47650d9789c74dc3161a26d608
Successfully built wrapt termcolor clang
Installing collected packages: tensorflow-estimator, numpy, wrapt, keras-preprocessing, pyasn1, pyasn1-modules, rsa, cachetools, google-auth, oauthlib, requests-oauthlib, google-auth-oauthlib, protobuf, absl-py, tensorboard-plugin-wit, grpcio, tensorboard-data-server, tensorboard, opt-einsum, astunparse, termcolor, clang, flatbuffers, keras, google-pasta, gast, h5py, tensorflow
  Attempting uninstall: numpy
    Found existing installation: numpy 1.20.3
    Uninstalling numpy-1.20.3:
      Successfully uninstalled numpy-1.20.3
  Attempting uninstall: wrapt
    Found existing installation: wrapt 1.11.2
    Uninstalling wrapt-1.11.2:

      Successfully uninstalled wrapt-1.11.2
  Attempting uninstall: h5py
    Found existing installation: h5py 2.10.0
    Uninstalling h5py-2.10.0:
      Successfully uninstalled h5py-2.10.0
Successfully installed absl-py-0.14.0 astunparse-1.6.3 cachetools-4.2.2 clang-5.0 flatbuffers-1.12 gast-0.4.0 google-auth-1.35.0 google-auth-oauthlib-0.4.6 google-pasta-0.2.0 grpcio-1.40.0 h5py-3.1.0 keras-2.6.0 keras-preprocessing-1.1.2 numpy-1.20.2 oauthlib-3.1.1 opt-einsum-3.3.0 protobuf-3.18.0 pyasn1-0.4.8 pyasn1-modules-0.2.8 requests-oauthlib-1.3.0 rsa-4.7.2 tensorboard-2.6.0 tensorboard-data-server-0.6.1 tensorboard-plugin-wit-1.8.0 tensorflow-2.6.0 tensorflow-estimator-2.6.0 termcolor-1.1.0 wrapt-1.12.1

In [5]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
# one dot means stay
import pandas as pd 
application_df = pd.read_csv("./Resources/charity_data.csv")
application_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [8]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df=application_df.drop(['EIN','NAME'], axis=1)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [9]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [11]:
# Look at APPLICATION_TYPE value counts for binning
app_count=application_df['APPLICATION_TYPE'].value_counts()
app_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [15]:
list(app_count[app_count<200].index)

['T9', 'T13', 'T12', 'T2', 'T14', 'T25', 'T29', 'T15', 'T17']

In [16]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace=list(app_count[app_count<200].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [17]:
# Look at CLASSIFICATION value counts for binning
classification_count=application_df['CLASSIFICATION'].value_counts()
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1248        1
C6100        1
C5200        1
C1283        1
C2570        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [25]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C0           3
C1260        3
C2710        3
C1234        2
C1246        2
C1267        2
C3200        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [20]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace=list(classification_count[classification_count<50].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      391
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
Name: CLASSIFICATION, dtype: int64

In [23]:
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [28]:
# Convert categorical data to numeric with `pd.get_dummies` for non-numerical columns only
dummies_df=pd.get_dummies(application_df,columns=['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS'])

dummies_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [29]:
# Split our preprocessed data into our features and target arrays
y=dummies_df['IS_SUCCESSFUL']
x=dummies_df.drop(['IS_SUCCESSFUL'], axis=1)



# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(x,y, random_state=1)

In [30]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [33]:
len(X_train.columns)

53

In [34]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=5, activation="relu", input_dim=len(X_train.columns)))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=5, activation="relu", input_dim=20))

# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=5, activation="relu", input_dim=2))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 5)                 270
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 30
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 6
=================================================================
Total params: 306
Trainable params: 306
Non-trainable params: 0
_________________________________________________________________

In [36]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [37]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 4s 3ms/step - loss: 0.6621 - accuracy: 0.6663
Epoch 2/100
804/804 [==============================] - ETA: 0s - loss: 0.5924 - accuracy: 0.70 - 2s 3ms/step - loss: 0.5925 - accuracy: 0.7093
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5761 - accuracy: 0.7208
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5697 - accuracy: 0.7229: 0s - l
Epoch 5/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5644 - accuracy: 0.7275
Epoch 6/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5619 - accuracy: 0.7289
Epoch 7/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5603 - accuracy: 0.7305
Epoch 8/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5590 - accuracy: 0.7299
Epoch 9/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5578 - accuracy: 0.7304
Epoch 10/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5569 - accuracy: 0.7304
Epoch 11/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5566 - accuracy: 0.7318
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5559 - accuracy: 0.7319
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5548 - accuracy: 0.7311: 0s - loss: 0.5
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5538 - accuracy: 0.7321
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5528 - accuracy: 0.7317
Epoch 16/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5522 - accuracy: 0.7310
Epoch 17/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5516 - accuracy: 0.7319
Epoch 18/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5509 - accuracy: 0.7318
Epoch 19/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5500 - accuracy: 0.7326
Epoch 20/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5497 - accuracy: 0.7329
Epoch 21/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5496 - accuracy: 0.7324
Epoch 22/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5493 - accuracy: 0.7315: 0s - loss: 0.5495 - accuracy:
Epoch 23/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5491 - accuracy: 0.7322
Epoch 24/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5489 - accuracy: 0.7332
Epoch 25/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5491 - accuracy: 0.7321: 0s - los
Epoch 26/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5483 - accuracy: 0.7332
Epoch 27/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5483 - accuracy: 0.7332
Epoch 28/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5481 - accuracy: 0.7332
Epoch 29/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5477 - accuracy: 0.7325
Epoch 30/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5478 - accuracy: 0.7333
Epoch 31/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5473 - accuracy: 0.7334
Epoch 32/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5475 - accuracy: 0.7328
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5472 - accuracy: 0.7326
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5474 - accuracy: 0.7329
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5475 - accuracy: 0.7329
Epoch 36/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5470 - accuracy: 0.7323
Epoch 37/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5466 - accuracy: 0.7334
Epoch 38/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5464 - accuracy: 0.7323
Epoch 39/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5468 - accuracy: 0.7322
Epoch 40/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5465 - accuracy: 0.7335
Epoch 41/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5466 - accuracy: 0.7327
Epoch 42/100
676/804 [========================>.....] - ETA: 0s - loss: 0.5457 - accuracy: 0.7330

KeyboardInterrupt:

In [37]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5578 - acc: 0.7263
Loss: 0.557812534073699, Accuracy: 0.7262973785400391

In [38]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE